@import "tailwindcss";

:root {
  --accent: #ff5733;
  --dark: #0e0d0d;
  --light: #f3f3f3;
  --dim: #c3c3c3;
}

html{
  width: 100%;
}
body{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--dark);
  color: var(--light);
  font-family: "Inter", sans-serif;
  user-select: none;
}
.head-txt{
  /* font-family: "Instrument Serif", serif; */
  font-family: "Playfair Display", serif;
}
.body-txt{
  font-family: "Inter", sans-serif;
}
.prime-bg{
  background-color: var(--accent);
}
.dark-bg{
  background-color: var(--dark);
}
.light-bg{
  background-color: var(--light);
}
.prime-txt{
  color: var(--accent);
}
.dark-txt{
  color: var(--dark);
}
.light-txt{
  color: var(--light);
}
.dim-txt{
  color: var(--dim);
}